@import url("./assets/fonts/pokemonSolid/pokemonSolid.css");
@import url("./assets/fonts/poppins/poppins.css");

body {
    zoom: 1;
}

@media only screen and (max-height: 750px) {
    body {
        zoom: 0.9;
    }
}

@media only screen and (max-height: 640px) {
    body {
        zoom: 0.8;
    }
}

@media only screen and (max-height: 570px) {
    body {
        zoom: 0.7;
    }
}